.App {
  text-align: center;
  color: blue;
}

.button{
  height: 40px;
  background-color: lightblue;
  font-size: large;
  color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  padding-top: 4px;
  padding-right: 10px;
  margin: auto;
}
